<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rent.steward">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.rent.steward.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.rent.steward.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.rent.steward.user.PersonInfoContentProvider"
            android:authorities="com.rent.steward"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <service
            android:name="com.rent.steward.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="afbe9cde689eebda16ff920631f2e48dbf43128a" />
    </application>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="AIzaSyCPIAZQxu9YgSGsh6nBXntfRGR5uX2fsFY" />


</manifest>